@import "tailwindcss";

@theme {
    --color-primary: #1A3C40;
    --color-secondary: #2ECC71;
    --color-accent: #F4D03F;
    --color-neutral: #F9F9F9;
    --color-text: #2C3E50;
    --color-error: #E74C3C;
    --color-success: #43A047;
}
 
 input {
     @apply border border-gray-200 h-10 px-4 rounded-md text-sm focus:outline-none focus:border-gray-400;
 }

 button{
     @apply cursor-pointer;
 }