*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #2b2b2b2b;
	background-repeat: no-repeat;
	background-size: 100px;
	color: #424242;
	font-family: "Mohave";
}

/*
*	Estilos para la barra de menu del header
*/
header{
	background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
	margin: 10px 0 1% 5%;
    vertical-align: top;
    width: 90%;
}

a{
	text-decoration: none;
}

ul li{
	display: inline-block;
	list-style: none;
}

#header-content{
	display: inline-block;
	margin-top: 1%;
	vertical-align: middle;
}

#header-logo{
	display: inline-block;
	width: 40%;
}

#header-logo a{
	color: black;
	display: table;
}
#header-logo a span{
	display: table-cell;
	padding-left: 10%;
    vertical-align: middle;
}

#header-logo span{
	font-family: "Facon";
	font-size: 50px;
	text-shadow: 5px 3px rgba(0, 0, 0, 0.3);
}

#menu{
	display: inline-block;
    font-size: 18px; 
	text-align: right;
	width: 60%;
} 

#menu ul{
	vertical-align: top;
}
#menu ul li{
	padding-bottom: 2%;
	margin-right: 2%;
}

#menu ul li a{
	color: white;
	display: inline-block;
	text-shadow: 0px 2px #424242;
}
#menu ul li a:hover{
	color: black;
	text-shadow: 0px 2px #ffffff;
}
/* Menu fijo*/
.fixed{
	float: left;
	position:fixed; 
	top:1%;
	width: 100%;
 
}

/*
*	Cambio de paginas
*/
.active{
	display: inline;
}

/*
* Parallax effect
*/
#content{
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);     
	margin: 0 auto;
	max-width: 1440px;
	width: 90% !important;
}

article{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 1000px;
	margin: 0 auto;
	max-width: 1440px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100% !important;
}

#web{
	height: 700px !important;
	background-image: url(../images/background/web-background.jpg);
}

#web h3{
	text-align: center;
    margin-top: 20%;
    color: white;
    text-shadow: 3px 3px #464444;
     
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.7);
}

#web-information{
	background: rgba(235,233,249,1);
	background: -moz-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(208,206,239,1) 64%, rgba(198,196,236,1) 87%, rgba(193,191,234,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(235,233,249,1)), color-stop(64%, rgba(208,206,239,1)), color-stop(87%, rgba(198,196,236,1)), color-stop(100%, rgba(193,191,234,1)));
	background: -webkit-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(208,206,239,1) 64%, rgba(198,196,236,1) 87%, rgba(193,191,234,1) 100%);
	background: -o-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(208,206,239,1) 64%, rgba(198,196,236,1) 87%, rgba(193,191,234,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(208,206,239,1) 64%, rgba(198,196,236,1) 87%, rgba(193,191,234,1) 100%);
	background: linear-gradient(45deg, rgba(235,233,249,1) 0%, rgba(208,206,239,1) 64%, rgba(198,196,236,1) 87%, rgba(193,191,234,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
	height: 850px !important;

}
.web-content{
	margin: 3% 0 0 10%;
	vertical-align: bottom;
}
.web-content p{
	float: right;
    margin-top: 12%;
    margin-right: 10%;
	width: 50%;
}

.web-content p, .web-content img{
	display: inline-block;
}
#second-img{
	width: 33%;
}
#second-p{
	float: left;
}

/*
 * Contact
 */ 
#contact-content{
	background-image: url(../images/background/contact-background.jpeg);
}
form{
	background-color: rgba(0,0,0,0.3);
	border-radius: 5px 5px;
	margin-left: 25%;
	margin-bottom: 10%;
	vertical-align: top;
	width: 50%;
}
.form-group{
	display: inline-block;
	margin: 1% 0 1% 25%;
	width: 60%;
}
.form-group input, .form-group textarea, .form-group select{
	border-radius: 5px 5px;
	padding: 1%;
	width: 80%;	
}
.form-group input, .form-group textarea, .form-group label{
	display: inline-block;
}

/*
 * About Us
 */

#aboutus-content{
	background-image: url(../images/background/about-us.jpeg);
}
#inspiration{
	text-align: center;
}
.person{
	text-align: center;
}
.person img{
	border-radius: 50% 50%;
	height: 100px;
	width: 100px;
}
 
.person img:hover{
	border-radius: 0;
	height: 250px;
	width: 250px;
}
/*
 * Gallery
 */
.grid-galery{
	margin-left: 10%; 
	width: 90%;
}
.items-galery{
	border: 1px black solid;
	display: inline-block;
 	margin: 1%;
 	width: 20%;
 } 

 .items-galery img{
 	height: 100%;
 	width: 100%;
 }

 #galery-text{
 	color: #424242;
 	font-size: 18px;
 	margin: 3% 0;
 	text-align: center;
 }

 #galery-text h1{
 	font-size: 28px;
 }
#galery-content{
	background-image: url(../images/background/galery-background.jpeg);
}

/*
 * News
 */
#news-content{
 	background-image: url(../images/background/news-background.jpeg);
}

.news-recent{
	margin-left: 15%; 
	margin-top: 5%;
	vertical-align: top;
	width: 70%;
}
.news-text{
	display: inline-block;
	margin-left: 1%; 
	width: 50%;
} 

.news-recent img{
	height: 120px;
	display: inline-block;
	width: 200px;
}
/*
 * Footer
 */
 footer{
 	margin-left: 5%;
 	padding: 2% 0;
	width: 90%;
 }

#footer-information, #footer-icons{
	display: inline-block;
	max-width: 1440px;
    text-align: center;
	vertical-align: top;
	width: 100%
}

#footer-information li{
	margin: 1px;
}

.footer-li{
	font-size: 14px;
} 

.material-icons{
	font-size: 12px !important;
}